<h1>All Tasks</h1>
     <%= link_to "New Task", new_task_path(@task), class: 'btn btn-success' %>
<% @tasks.each do |task| %>
     <div class="media">
     <div class="media-body">
         <%= task.created_at.to_date %>
         <%= task.title %>
         <%= task.company.inspect %>
         <%= task.company.users.inspect %>
         <%= link_to "Delete", task, method: :delete, remote: true %>
     </div>
   </div>
 <% end %>

 <% @companys.each do |c| %>
   <%= c.name %>
   <%= c.tasks.inspect%>
   <%= c.users.inspect %>
<% end %>

<% @users.each do |u| %>
   <%= u.inspect %>
<% end %>
