 <h1>New Task</h1>

  <%= form_for Task.new, :method => 'POST', url: create_task_path do |f| %>
    <%= f.hidden_field :company_id, value: @company_id %>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: "Enter title" %>
    <%= f.submit "Save", class: 'btn btn-success' %>
  <% end %>
